@import url('../../libs/bootstrap/css/bootstrap.min.css');
@import url('../../libs/messenger/build/css/messenger.css');
@import url('../../libs/messenger/build/css/messenger-theme-future.css');

.white_framework {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: whitesmoke;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.scrollDiv ul, li {
    margin: 0;
    padding: 0;
    color: beige;
    font-weight: bold;
}
.scrollDiv {
    width: 500px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    margin-top: 15px;
}
.scrollDiv li {
    height: 25px;
    padding-left: 10px;
}

#showException {
    font-size: 14px;
}

#myModalLabel {
    text-align: center;
}

.help-block ul li {
    color: #f16e1a;
    list-style-type:none;
}

#loginImage {
    margin-top: -3px;
}

#footer_content {
    text-align: center;
}

#index_pagination {
    text-align: center;
    margin:0 auto;
}

#account_detail_background {
/*    background: url(../../images/background/t1.jpg);*/
    border-radius: 20px;
    background-attachment: fixed; 
}
