.white_framework {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: whitesmoke;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.scrollDiv ul, li {
    margin: 0;
    padding: 0;
    color: beige;
    font-weight: bold;
}
.scrollDiv {
    width: 500px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    margin-top: 15px;
}
.scrollDiv li {
    height: 25px;
    padding-left: 10px;
}

#showException {
    font-size: 14px;
}