.white_framework {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: whitesmoke;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.scrollDiv ul, li {
    margin: 0;
    padding: 0;
    color: beige;
    font-weight: bold;
}
.scrollDiv {
    width: 500px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    margin-top: 15px;
}
.scrollDiv li {
    height: 25px;
    padding-left: 10px;
}

#showException {
    font-size: 14px;
}

#myModalLabel {
    text-align: center;
}

.help-block ul li {
    color: #f16e1a;
    list-style-type:none;
}

#loginImage {
    margin-top: -3px;
}

.theBanner { position: relative; overflow: auto; }
.theBanner li { list-style: none; height: 406px; background-size:2000px 500px;}
.theBanner ul {margin:0px; padding:0px;}
.theBanner ul li { float: left; }
.theBanner .dots { position: absolute; left: 0; right: 0; bottom: 20px; }
.theBanner .dots li { display: inline-block; width: 10px; height: 10px; margin: 0 4px; text-indent: -999em; border: 2px solid #fff; border-radius: 6px; cursor: pointer; opacity: .4; -webkit-transition: background .5s, opacity .5s; -moz-transition: background .5s, opacity .5s; transition: background .5s, opacity .5s; }
.theBanner .dots li.active { background: #fff; opacity: 1; }